<div class="flex h-screen bg-color-background">
  <!-- Sidebar (Desktop) -->

  <app-sidebar-core></app-sidebar-core>
  <!-- Main Content -->
  <div class="flex flex-col flex-1">
    <!-- Navbar (Mobile) -->
    <app-navbar-core></app-navbar-core>
    <!-- Main Page Content -->
    <main class="flex-1 overflow-y-auto">
      <app-home></app-home>
      <app-about></app-about>
      <app-projects></app-projects>
      <app-contact></app-contact>

      <!-- Footer -->
      <app-footer></app-footer>
    </main>
  </div>
</div>
